{% extends "layouts/base.html" %}
{% load static %}

{% block subtitle %}GAUGES{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/charts.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'partials/navbar.html' with is_charts_page=True %}
{% endblock %}

{% block content %}
<div class="gauges-wrapper">
    {% for metric_group in gauges_by_metric %}
    <div class="metric-group">
        <h2>{{ metric_group.title }}</h2>
        <div class="gauges-grid">
            {% for gauge in metric_group.gauges %}
            <div class="gauge-container"
                 title="{{ gauge.room }} - {{ gauge.sensor }}">
                <div class="loading">
                    <div class="placeholder-animation"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
