{% extends "layouts/base.html" %}
{% load static %}

{% block subtitle %}GAUGES{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/charts.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'partials/navbar.html' with is_charts_page=True %}
{% endblock %}

{% block content %}
<div class="gauges-wrapper">
    {% for metric_group in gauges_by_metric %}
    <div class="metric-group">
        <h2>{{ metric_group.title }}</h2>
        <div class="gauges-grid">
            {% for gauge in metric_group.gauges %}
            <div class="gauge-container"
                 title="{{ gauge.room }} - {{ gauge.sensor }}"
                 data-sensor="{{ gauge.sensor }}"
                 data-metric="{{ gauge.metric }}"
                 data-value="{{ gauge.value }}">
                <div class="loading">
                    <div class="placeholder-animation"></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.gauge-container').each(function() {
            var container = $(this);
            var sensor = container.data('sensor');
            var metric = container.data('metric');
            var value = container.data('value');
            
            $.ajax({
                url: '/generate_gauge/',
                data: {
                    sensor: sensor,
                    metric: metric,
                    value: value
                },
                success: function(data) {
                    container.html(data);
                },
                error: function() {
                    container.html('<p>Error loading gauge</p>');
                }
            });
        });
    });
</script>
{% endblock %}
