{% extends "layouts/base.html" %}
{% load static %}

{% block subtitle %}SENSORES{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/charts.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'partials/navbar.html' with is_charts_page=True %}
{% endblock %}

{% block content %}
    <div id="toggle-buttons-container">
        <div id="toggle-buttons" class="button-group">
            <div id="toggle-buttons-timeframe" class="button-cluster">
                <a class="button {% if selected_timeframe == '5S' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=5S"><small>5"</small></a>
                <a class="button {% if selected_timeframe == '1T' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=1T">1'</a>
                <a class="button {% if selected_timeframe == '30T' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=30T">30'</a>
                <a class="button {% if selected_timeframe == '1H' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=1H">1h</a>
                <a class="button {% if selected_timeframe == '4H' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=4H">4h</a>
                <a class="button {% if selected_timeframe == '1D' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=1D">1d</a>
            </div>
        </div>
    </div>
    <div class="sensors-wrapper">
        {% for room, metrics in data.items %}
            <div class="room-title-wrapper">
                <h2 class="room-title">Sala {{ room }}</h2>
            </div>
            {% for metric_obj in metrics.values %}
                <div class="metric-title-wrapper">
                    <h3 class="metric-title">Métrica: {{ metric_obj.metric_name }}</h3>
                </div>
                {% for sensor in metric_obj.sensors %}
                    <div class="chart-container sensor-container"
                         title="{{ room }} - {{ sensor }} ({{ metric_obj.metric_name }})"
                         hx-post="/generate_sensor/"
                         hx-trigger="load"
                         hx-target="this"
                         hx-swap="innerHTML"
                         hx-vals='{"sensor": "{{ sensor }}", "timeframe": "{{ timeframe }}", "metric": "{{ metric_obj.metric }}"}'>
                        <div class="loading">
                            <div class="placeholder-animation"></div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.27.1.min.js" charset="utf-8"></script>
{% endblock %}
