{% extends "layouts/base.html" %}
{% load static %}

{% block subtitle %}SENSORES{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/charts.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'partials/navbar.html' with is_charts_page=True %}
{% endblock %}

{% block content %}
<section id="sensors-section" class="sensors-section">

    <article id="toggle-buttons-container">
        <div id="toggle-buttons" class="button-group">
            <div id="toggle-buttons-timeframe" class="button-cluster">
                <a class="button {% if timeframe == '1t' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=1T&room={{ selected_room }}">1'</a>
                <a class="button {% if timeframe == '30t' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=30T&room={{ selected_room }}">30'</a>
                <a class="button {% if timeframe == '1h' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=1H&room={{ selected_room }}">1h</a>
                <a class="button {% if timeframe == '4h' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=4H&room={{ selected_room }}">4h</a>
                <a class="button {% if timeframe == '1d' %}active{% endif %}" href="{% url 'sensors' %}?timeframe=1D&room={{ selected_room }}">1d</a>
            </div>
            
            <div id="room-filter" class="button-cluster">
                 <select onchange="window.location.href='{% url 'sensors' %}?timeframe={{ timeframe }}&room=' + this.value" class="button" style="height: 38px; padding: 0 30px 0 10px; background-color: transparent; border: 1px solid #bbb; color: #555; width: 250px; font-size: 11px; font-weight: 600; letter-spacing: .1rem; text-transform: uppercase;">
                    <option value="all" {% if selected_room == 'all' %}selected{% endif %}>Todas las Salas</option>
                    {% for room in rooms %}
                        <option value="{{ room.id }}" {% if selected_room|stringformat:"s" == room.id|stringformat:"s" %}selected{% endif %}>{{ room.name }}</option>
                    {% endfor %}
                 </select>
            </div>
        </div>
    </article>
    <article class="sensors-wrapper">
        {% for room, metrics in data.items %}
            <div class="room-title-wrapper">
                <h2 class="room-title">Sala {{ room }}</h2>
            </div>
            {% for metric_obj in metrics.values %}
                {% for sensor in metric_obj.sensors %}
                    <div class="chart-container sensor-container"
                         title="{{ room }} - {{ sensor }} ({{ metric_obj.metric_name }})"
                         hx-post="/generate_sensor/"
                         hx-trigger="load"
                         hx-target="this"
                         hx-swap="innerHTML"
                         hx-vals='{"sensor": "{{ sensor }}", "timeframe": "{{ timeframe }}", "metric": "{{ metric_obj.metric }}"}'>
                        <div class="loading">
                            <div class="placeholder-animation"></div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </article>
</section>
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.27.1.min.js" charset="utf-8"></script>
{% endblock %}
