{% extends "layouts/base.html" %}
{% load static %}

{% block header %}
<div id="chart-header">
    <div id="chart-title">
        <a href="{% url 'home' %}" class="header-link">KCBD</a><span> - Charts</span>
    </div>
    <nav id="chart-nav-bar">
        <ul>
            <li>
                <button hx-get="{% url 'chart' %}" hx-target="#chart-content" class="nav-button">
                    <img src="{% static 'icons/chart-line.svg' %}" alt="Gráfico de Monitoreo">
                    <small>Monitor</small>
                </button>
            </li>
            <li>
                <button hx-get="{% url 'dual-chart' %}" hx-target="#chart-content" class="nav-button">
                    <img src="{% static 'icons/chart-line-2.svg' %}" alt="Gráfico Dual">
                    <small>Dual</small>
                </button>
            </li>
            <li>
                <button hx-get="{% url 'gauges' %}" hx-target="#chart-content" class="nav-button">
                    <img src="{% static 'icons/gauge.svg' %}" alt="Gauges">
                    <small>Gauges</small>
                </button>
            </li>
            <li>
                <button hx-get="{% url 'table-coef' %}" hx-target="#chart-content" class="nav-button">
                    <img src="{% static 'icons/chart-grid-dots.svg' %}" alt="Tabla de Coeficientes">
                    <small>Coef.</small>
                </button>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block content %}
<div id="chart-content" class="dynamic-content">
    <h4>Seleccione un gráfico del menú superior</h4>
</div>
{% endblock %}
