{% extends "layouts/base.html" %}
{% load static %}

{% block subtitle %}MONITOR{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/charts.css' %}">
{% endblock %}

{% block navbar %}
<nav id="chart-nav-bar">
    <ul>
        <li>
            <button hx-get="{% url 'overview' %}" hx-target="#chart-content" class="nav-button">
                <img src="{% static 'icons/chart-line.svg' %}" alt="Gráfico de Monitoreo">
                <small>Monitor</small>
            </button>
        </li>
        <li>
            <button hx-get="{% url 'sensors' %}" hx-target="#chart-content" class="nav-button">
                <img src="{% static 'icons/chart-line-2.svg' %}" alt="Gráfico Dual">
                <small>Sensores</small>
            </button>
        </li>
        <li>
            <button hx-get="{% url 'gauges' %}" hx-target="#chart-content" class="nav-button">
                <img src="{% static 'icons/gauge.svg' %}" alt="Gauges">
                <small>Gauges</small>
            </button>
        </li>
        <li>
            <button hx-get="{% url 'table-coef' %}" hx-target="#chart-content" class="nav-button">
                <img src="{% static 'icons/chart-grid-dots.svg' %}" alt="Tabla de Coeficientes">
                <small>Coef.</small>
            </button>
        </li>
        <li>
            <button hx-get="{% url 'vpd' %}" hx-target="#chart-content" class="nav-button">
                <img src="{% static 'icons/vpd-icon.svg' %}" alt="VPD">
                <small>VPD</small>
            </button>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<div id="chart-content">
    <p>Seleccione un gráfico del menú superior</p>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/plotly-2.35.2.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script>
  function setOnline(status) {
    window.online = status;
    if (status) {
      startAutoUpdate();
    } else {
      stopAutoUpdate();
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    if (typeof online !== 'undefined' && online === true) {
      startAutoUpdate();
    } else {
      stopAutoUpdate();
    }
  });
</script>
{% endblock %}
