{% extends "layouts/base.html" %}
{% load static %}

{% block subtitle %}MONITOR{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/charts.css' %}">
{% endblock %}

{% block navbar %}
    {% include 'partials/navbar.html' with is_charts_page=False %}
{% endblock %}

{% block content %}
<div id="chart-content">
    <p>Seleccione un gráfico del menú superior</p>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/plotly-2.35.2.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script>
  function setOnline(status) {
    window.online = status;
    if (status) {
      startAutoUpdate();
    } else {
      stopAutoUpdate();
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    if (typeof online !== 'undefined' && online === true) {
      startAutoUpdate();
    } else {
      stopAutoUpdate();
    }
  });
</script>
{% endblock %}
