{% extends "layouts/base.html" %}
{% load static %}

{% block header %}
<h3>
    {% if metric == 't' %}
        Métrica: Temperatura
    {% elif metric == 'h' %}
        Métrica: Humedad
    {% else %}
        Chart
    {% endif %}
</h3>
<hr style="border: 1px solid #d4edda; margin-top: -10px;">
{% endblock %}

{% block content %}
<style>
    #toggle-buttons {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .button {
        margin: 0 5px;
        padding: 5px 20px;  /* Adjusted padding */
        border: 1px solid #ccc;
        background-color: #f9f9f9;
        cursor: pointer;
        text-align: center;
        font-size: 1.1em;  /* Increased font size */
        line-height: 1.5;  /* Center text vertically */
    }
    .button.active {
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
    .button.metric {
        background-color: #f9f9f9;
    }
    .button.metric.active {
        background-color: #a9d5b5;
    }
    .vertical-separator {
        border-left: 1px solid #ccc;
        height: 30px;
        margin: 0 10px;
    }
</style>
<div id="chart-container">
    {{ chart_html|safe }}
</div>
<div id="toggle-buttons" class="button-group">
    <div id="toggle-buttons-timeframe">
        <button class="button {% if selected_timeframe == '5s' %}active{% endif %}" onclick="setTimeframe('5s')">5''</button>
        <button class="button {% if selected_timeframe == '30s' %}active{% endif %}" onclick="setTimeframe('30s')">30''</button>
        <button class="button {% if selected_timeframe == '1m' %}active{% endif %}" onclick="setTimeframe('1m')">1'</button>
        <button class="button {% if selected_timeframe == '10m' %}active{% endif %}" onclick="setTimeframe('10m')">10'</button>
        <button class="button {% if selected_timeframe == '30m' %}active{% endif %}" onclick="setTimeframe('30m')">30'</button>
        <button class="button {% if selected_timeframe == '1h' %}active{% endif %}" onclick="setTimeframe('1h')">1 hora</button>
        <button class="button {% if selected_timeframe == '1d' %}active{% endif %}" onclick="setTimeframe('1d')">1 día</button>
    </div>
    <div class="vertical-separator"></div>
    <div id="toggle-buttons-metric">
        <button class="button metric {% if metric == 't' %}active{% endif %}" onclick="setMetric('t')">Temperatura</button>
        <button class="button metric {% if metric == 'h' %}active{% endif %}" onclick="setMetric('h')">Humedad</button>
    </div>
</div>
<hr/>
<pre style="font-family: monospace; color: darkgray;">
<strong>metric:</strong> {{ metric }}
<strong>freq:</strong> {{ freq }}
<strong>api_url:</strong> {{ api_url }}
<strong>params:</strong> {{ params }}
<strong>api_response:</strong> {{ api_response|json_script:"api-response" }}
<strong>start_date:</strong> {{ start_date }}
<strong>end_date:</strong> {{ end_date }}
<strong>num_points:</strong> {{ num_points }}
</pre>
<hr/>
<script>
    function setTimeframe(timeframe) {
        const url = new URL(window.location.href);
        url.searchParams.set('timeframe', timeframe);
        window.location.href = url.toString();
    }

    function setMetric(metric) {
        const url = new URL(window.location.href);
        url.searchParams.set('metric', metric);
        window.location.href = url.toString();
    }
</script>
{% endblock %}