{% extends "layouts/base.html" %}

{% block content %}
<div class="construction-notice">
    <p class="update-message">
        <strong>"dj-indoor-monitor"</strong> es un sistema con licencia MIT diseñado para
        monitorizar y analizar datos ambientales en tiempo real. Proporciona
        información detallada sobre temperatura y humedad, recolectada desde
        sensores conectados a dispositivos Raspberry PI con diversos sensores.
    </p>
    
    <p class="update-message">
        La API de KCBD puede ser consumida desde aquí: '<a href="https://kcbd.grupoalvs.com/timeframed/">https://kcbd.grupoalvs.com/timeframed/</a>'.
    </p>
    
    <p>Algunos parámetros opcionales son:</p>
    <ul>
        <li><strong>metadata</strong>: true o false</li>
        <li><strong>start_date</strong>: ej. 2025-01-01</li>
        <li><strong>end_date</strong>: si se prefiere una diferente a la fecha actual</li>
        <li><strong>timeframe</strong>: que acepta valores tales como '5s', '1D', etc.</li>
    </ul>

    <a href="{% url 'charts' %}" class="button main-link">Ir a Monitoreo</a>
</div>
{% endblock %}
