{% extends "layouts/base.html" %}

{% block content %}
<div class="construction-notice">
    <h2>Página en construcción</h2>
    
    <p class="update-message">
        El proyecto "dj-indoor-monitor" es un sistema diseñado para
        monitorizar y analizar datos ambientales en tiempo real. Proporciona
        información detallada sobre temperatura y humedad, recolectada desde
        sensores conectados a dispositivos Raspberry Pi.
    </p>

    <a href="{% url 'charts' %}" class="button main-link">Ir a Monitoreo</a>
    <a href="{% url 'development' %}" class="button main-link">Ir a Development</a>
    <a href="{% url 'old-devices' %}" class="button main-link">Ir a dispositivos antiguos</a>
</div>
{% endblock %}
