{% extends "layouts/base.html" %}

{% block content %}
<div class="text-content">
    <p>
        <strong>"dj-indoor-monitor"</strong> es un sistema con licencia MIT diseñado para
        monitorizar y analizar datos ambientales en tiempo real. Proporciona
        información detallada sobre temperatura y humedad, recolectada desde
        sensores conectados a dispositivos Raspberry PI con diversos sensores.
    </p>
    
    <a href="{% url 'charts' %}" class="button main-link">Ir a Monitoreo</a>
</div>
{% endblock %}
