<article>
    {% if debug %}
        <pre>
            {% filter force_escape %}
                {% debug %}
            {% endfilter %}
        </pre>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <table id="data-table" class="u-full-width fixed-width">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>RPi</th>
                <th>Temp.</th>
                <th>Hum.</th>
            </tr>
        </thead>
        <tbody 
            hx-get="{% url 'latest-data-table' %}" 
            hx-trigger="load, every 2s" 
            hx-target="this"
        >
        </tbody>
        </table>
    </form>
</article>