{% load static %}
<div class="navbar">
  {% if request.path == "/" %}
    <div class="separator"></div>
    <a href="/charts/" class="nav-button">
      <img src="{% static 'icons/chart-histogram.svg' %}" alt="Graficos">
      <small>GRÁFICOS</small>
    </a>
    <a href="/" class="nav-button active">
      <img src="{% static 'icons/home.svg' %}" alt="Home">
      <small>HOME</small>
    </a>
  {% elif request.path == "/charts/" %}
    <a href="{% url 'overview' %}" class="nav-button">
      <img src="{% static 'icons/chart-line.svg' %}" alt="Overview">
      <small>OVERVIEW</small>
    </a>
    <a href="{% url 'sensors' %}" class="nav-button">
      <img src="{% static 'icons/chart-line-2.svg' %}" alt="Sensors">
      <small>SENSORES</small>
    </a>
    <a href="{% url 'gauges' %}" class="nav-button">
      <img src="{% static 'icons/gauge.svg' %}" alt="Gauges">
      <small>GAUGES</small>
    </a>
    <a href="{% url 'vpd' %}" class="nav-button">
      <img src="{% static 'icons/chart-grid-dots.svg' %}" alt="VPD">
      <small>VPD</small>
    </a>
    <div class="separator"></div>
    <a href="/charts/" class="nav-button active">
      <img src="{% static 'icons/chart-histogram.svg' %}" alt="Graficos">
      <small>GRÁFICOS</small>
    </a>
    <a href="/" class="nav-button">
      <img src="{% static 'icons/home.svg' %}" alt="Home">
      <small>HOME</small>
    </a>
  {% else %}
    <!-- Para páginas de gráficos (subrutas de /charts/) -->
    <a href="{% url 'overview' %}" class="nav-button {% if request.path == '/charts/overview/' %}active{% endif %}">
      <img src="{% static 'icons/chart-line.svg' %}" alt="Overview">
      <small>OVERVIEW</small>
    </a>
    <a href="{% url 'sensors' %}" class="nav-button {% if request.path == '/charts/sensors/' %}active{% endif %}">
      <img src="{% static 'icons/chart-line-2.svg' %}" alt="Sensors">
      <small>SENSORES</small>
    </a>
    <a href="{% url 'gauges' %}" class="nav-button {% if request.path == '/charts/gauges/' %}active{% endif %}">
      <img src="{% static 'icons/gauge.svg' %}" alt="Gauges">
      <small>GAUGES</small>
    </a>
    <a href="{% url 'vpd' %}" class="nav-button {% if request.path == '/charts/vpd/' %}active{% endif %}">
      <img src="{% static 'icons/chart-grid-dots.svg' %}" alt="VPD">
      <small>VPD</small>
    </a>
    <div class="separator"></div>
    <a href="/charts/" class="nav-button">
      <img src="{% static 'icons/chart-histogram.svg' %}" alt="Graficos">
      <small>GRÁFICOS</small>
    </a>
    <a href="/" class="nav-button">
      <img src="{% static 'icons/home.svg' %}" alt="Home">
      <small>HOME</small>
    </a>
  {% endif %}
</div>
