{% load static %}
<div class="navbar">
  {% if request.path == '/charts/' %}
    {% include 'partials/hx-indicator.html' %}
    <button class="nav-button" 
            hx-get="{% url 'overview' %}" 
            hx-target="#chart-content"
            hx-swap-oob="true #subtitle:innerHTML"
            hx-indicator="#loading-spinner">
      <img src="{% static 'icons/chart-line.svg' %}" alt="Overview">
      <small>OVERVIEW</small>
    </button>
    <button class="nav-button" 
            hx-get="{% url 'sensors' %}" 
            hx-target="#chart-content"
            hx-swap-oob="true #subtitle:innerHTML"
            hx-indicator="#loading-spinner">
      <img src="{% static 'icons/chart-line-2.svg' %}" alt="Sensors">
      <small>SENSORES</small>
    </button>
    <button class="nav-button" 
            hx-get="{% url 'gauges' %}" 
            hx-target="#chart-content"
            hx-swap-oob="true #subtitle:innerHTML"
            hx-indicator="#loading-spinner">
      <img src="{% static 'icons/gauge.svg' %}" alt="Gauges">
      <small>GAUGES</small>
    </button>
    <button class="nav-button" 
            hx-get="{% url 'vpd' %}" 
            hx-target="#chart-content"
            hx-swap-oob="true #subtitle:innerHTML"
            hx-indicator="#loading-spinner">
      <img src="{% static 'icons/layout-dashboard.svg' %}" alt="VPD">
      <small>VPD</small>
    </button>
    <div class="separator"></div>
    <button class="nav-button" onclick="window.location.href='/'">
      <img src="{% static 'icons/home.svg' %}" alt="Home">
      <small>HOME</small>
    </button>
  {% else %}
    <button class="nav-button" onclick="window.location.href='{% url 'charts' %}'">
      <img src="{% static 'icons/chart-histogram.svg' %}" alt="Monitor">
      <small>MONITOR</small>
    </button>
    <button class="nav-button" onclick="window.location.href='/'">
      <img src="{% static 'icons/home.svg' %}" alt="Home">
      <small>HOME</small>
    </button>
  {% endif %}
</div>
