{% load static %}
<span id="subtitle" hx-swap-oob="true">OVERVIEW</span>
<section class="overview-section">
    <!-- Artículo para el gráfico (en construcción) -->
    <article id="chart-content">
        <div class="chart-container">
            <!-- Aquí irá el gráfico en el futuro -->
            <p>Gráfico en construcción...</p>
        </div>
    </article>

    <!-- Artículo para los botones -->
    <article id="toggle-buttons-container">
        <div id="toggle-buttons" class="button-group">
            <div id="toggle-buttons-timeframe">
                <button class="button {% if selected_timeframe == '1T' %}active{% endif %}">1'</button>
                <button class="button {% if selected_timeframe == '30T' %}active{% endif %}">30'</button>
                <button class="button {% if selected_timeframe == '1h' %}active{% endif %}">1h</button>
                <button class="button {% if selected_timeframe == '4' %}active{% endif %}">4h</button>
                <button class="button {% if selected_timeframe == '1D' %}active{% endif %}" disabled style="opacity: 0.5; cursor: not-allowed">1d</button>
            </div>
            <div class="vertical-separator"></div>
            <div id="toggle-buttons-metric">
                <button class="button metric {% if metric == 't' %}active{% endif %}">Temp</button>
                <button class="button metric {% if metric == 'h' %}active{% endif %}">Hum</button>
            </div>
            <div class="vertical-separator"></div>
            <div id="toggle-buttons-online">
                <button class="button online-button {% if selected_timeframe == '5s' %}active{% endif %}">online</button>
            </div>
        </div>
    </article>

    <!-- Artículo para debug -->
    <article id="debug-info">
        <div class="debug-section">
            <h4>Metadata</h4>
            <pre class="debug-pre">
<strong>Período actual</strong>: {{ metadata.debug.start_pretty }} → {{ metadata.debug.end_pretty }}
<strong>Registros</strong>: {{ metadata.record_count }}
<strong>Sensores</strong>: {{ metadata.sensor_ids|join:", " }}
<strong>Timeframe</strong>: {{ metadata.debug.timeframe }} ({{ metadata.debug.window_seconds }}s)
<strong>Consulta</strong>: {{ metadata.debug.delay_ms }}ms</pre>
        </div>

        <div class="debug-section">
            <h4>Últimos registros</h4>
            <pre class="debug-pre">
                {% for item in results %}
- {{ item.timestamp_pretty }} >> '{{ item.sensor }}' t: {{ item.t|floatformat:1 }}°C h: {{ item.h|floatformat:1 }}%
                {% endfor %}
            </pre>
        </div>
    </article>
</section>