{% load static %}
<span id="subtitle" hx-swap-oob="true">OVERVIEW</span>
<section id="overview-section" class="overview-section">
    {% include 'partials/hx-indicator.html' %}
    <!-- Artículo para el gráfico (en construcción) -->
    <article id="chart-content">
        <div class="chart-container" id="chart">
            {{ chart_html|safe }}
        </div>
    </article>

    <!-- Artículo para los botones -->
    <article id="toggle-buttons-container">
        <div id="toggle-buttons" class="button-group">
            <div id="toggle-buttons-timeframe">
                <div id="toggle-buttons-online">
                    <button class="button online-button {% if metadata.timeframe == '5s' %}active{% endif %}"
                    hx-get="{% url 'overview' %}?timeframe=5s"
                    hx-target="#overview-section"
                    hx-swap="outerHTML">online</button>
                </div>
                <div class="vertical-separator"></div>
                <button class="button {% if metadata.timeframe == '1T' %}active{% endif %}"
                        hx-get="{% url 'overview' %}?timeframe=1T"
                        hx-target="#overview-section"
                        hx-swap="outerHTML"
                        hx-indicator="#loading-spinner">1'</button>
                <button class="button {% if metadata.timeframe == '30T' %}active{% endif %}"
                        hx-get="{% url 'overview' %}?timeframe=30T"
                        hx-target="#overview-section"
                        hx-swap="outerHTML"
                        hx-indicator="#loading-spinner">30'</button>
                <button class="button {% if metadata.timeframe == '1h' %}active{% endif %}"
                        hx-get="{% url 'overview' %}?timeframe=1h"
                        hx-target="#overview-section"
                        hx-swap="outerHTML"
                        hx-indicator="#loading-spinner">1h</button>
                <button class="button {% if metadata.timeframe == '4h' %}active{% endif %}"
                        hx-get="{% url 'overview' %}?timeframe=4h"
                        hx-target="#overview-section"
                        hx-swap="outerHTML"
                        hx-indicator="#loading-spinner">4h</button>
                <button class="button {% if metadata.timeframe == '1D' %}active{% endif %}"
                        hx-get="{% url 'overview' %}?timeframe=1D"
                        hx-target="#overview-section"
                        hx-swap="outerHTML"
                        hx-indicator="#loading-spinner">1d</button>
            </div>
            <div class="vertical-separator"></div>
            <div id="toggle-buttons-metric">
                <button class="button metric {% if metadata.metric == 't' %}active{% endif %}"
                        hx-get="{% url 'overview' %}?metric=t"
                        hx-target="#overview-section"
                        hx-swap="outerHTML"
                        hx-indicator="#loading-spinner">Temp</button>
                <button class="button metric {% if metadata.metric == 'h' %}active{% endif %}"
                        hx-get="{% url 'overview' %}?metric=h"
                        hx-target="#overview-section"
                        hx-swap="outerHTML"
                        hx-indicator="#loading-spinner">Hum</button>
            </div>
        </div>
    </article>

    <!-- Artículo para debug -->
    <article id="debug-info">
        <div class="debug-section">
            <h3>Metadata</h3>
            <pre class="debug-pre">
<strong>Período actual</strong>: {{ metadata.start_pretty }} → {{ metadata.end_pretty }}
<strong>Registros</strong>: {{ metadata.record_count }}
<strong>Puntos graficados</strong>: {{ plotted_points }}
<strong>Sensores</strong>: {{ metadata.sensor_ids|join:", " }}
<strong>Timeframe</strong>: {{ metadata.timeframe }}
<strong>Ventana</strong>: {{ metadata.window_minutes }} min
<strong>Métrica</strong>: {{ metadata.metric }}
<strong>Duración de consulta</strong>: {{ metadata.query_duration_s }} s</pre>
        </div>

    </article>
</section>