{% load static %}
<span id="subtitle" hx-swap-oob="true">SENSORES</span>
<div class="chart-content">
    <article id="toggle-buttons-container">
        <div id="toggle-buttons" class="button-group">
            <div id="toggle-buttons-timeframe" class="button-cluster">
                <button class="button {% if selected_timeframe == '5S' %}active{% endif %}"
                        hx-get="{% url 'sensors' %}"
                        hx-target="#chart-content"
                        hx-indicator="#loading-spinner"
                        hx-vals='{"timeframe": "5S"}'><small>5"</small></button>
                <button class="button {% if selected_timeframe == '1T' %}active{% endif %}"
                        hx-get="{% url 'sensors' %}"
                        hx-target="#chart-content"
                        hx-indicator="#loading-spinner"
                        hx-vals='{"timeframe": "1T"}'>1'</button>
                <button class="button {% if selected_timeframe == '30T' %}active{% endif %}"
                        hx-get="{% url 'sensors' %}"
                        hx-target="#chart-content"
                        hx-indicator="#loading-spinner"
                        hx-vals='{"timeframe": "30T"}'>30'</button>
                <button class="button {% if selected_timeframe == '1H' %}active{% endif %}"
                        hx-get="{% url 'sensors' %}"
                        hx-target="#chart-content"
                        hx-indicator="#loading-spinner"
                        hx-vals='{"timeframe": "1H"}'>1h</button>
                <button class="button {% if selected_timeframe == '4H' %}active{% endif %}"
                        hx-get="{% url 'sensors' %}"
                        hx-target="#chart-content"
                        hx-indicator="#loading-spinner"
                        hx-vals='{"timeframe": "4H"}'>4h</button>
                <button class="button {% if selected_timeframe == '1D' %}active{% endif %}"
                        hx-get="{% url 'sensors' %}"
                        hx-target="#chart-content"
                        hx-indicator="#loading-spinner"
                        hx-vals='{"timeframe": "1D"}'>1d</button>
            </div>
        </div>
    </article>

    <h3>Sensores, Temperatura y Humedad</h3>
    {% for sensor, chart_html in charts.items %}
    <div class="chart-container" id="sensor-{{ sensor }}" style="margin-bottom: 2rem;">
        {{ chart_html|safe }}
    </div>
    {% endfor %}
</div>
