{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}KCBD{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="Kodex">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <script src="{% static 'js/htmx.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">

  {% block extra_css %}{% endblock %}

  <meta name="csrf-token" content="{{ csrf_token }}">

  {% block head %}{% endblock %}
</head>
<body>

  <div class="container">
    <header class="header-container">
      <div class="header-left">
        <a href="/">
          KCBD
        </a>
      </div>
      <div class="header-center">
        <span class="subtitle-pre">&nbsp;-&nbsp;</span><span id="subtitle">{% block subtitle %}SISTEMA DE MONITOREO{% endblock %}</span>
      </div>
      <div class="header-right">
        {% include 'partials/navbar.html' %}
      </div>
    </header>

    <main>
      <div class="row">
        <div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer class="footer footer-text">
      <span>Solicitudes y reporte de bugs: <a href="mailto:gcavedal@gmail.com">gcavedal@gmail.com</a>.</span>
    </footer>
  </div>
  {% include 'partials/hx-indicator.html' %}
  <script src="{% static 'js/luxon.min.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
