{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}KCBD{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="Kodex">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <script src="{% static 'js/htmx.min.js' %}"></script>

  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  {% block extra_css %}{% endblock %}

  <meta name="csrf-token" content="{{ csrf_token }}">

  {% block head %}{% endblock %}
</head>
<body>

  <div class="container">
    <header>
      <div class="row">
        <div class="six columns">
          <h1>{% block header %}<a href="{% url 'home' %}" class="header-link">KCBD</a><span> - MONITOR</span>{% endblock %}</h1>
        </div>
        <div class="six columns" style="text-align: right;">
          <button hx-get="javascript:history.back()" class="button">
            <img src="{% static 'icons/arrow-back.svg' %}" alt="Back" style="vertical-align: middle;">
            Back
          </button>
        </div>
      </div>
    </header>

    <main>
      <div class="row">
        <div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer class="footer footer-text">
      <span>Solicitudes y reporte de bugs: <a href="mailto:gcavedal@gmail.com">gcavedal@gmail.com</a>.</span>
    </footer>
  </div>
  <script src="{% static 'js/luxon.min.js' %}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
